/* START VARIABLES */
$fa-font-path: 'fonts'; // Font-Awesome; path to fonts
/* @todo: float in navbar doesn't work with flexbox */
//$enable-flex: true; // Bootstrap; use flexbox
$footer-height: 175px; // Height of fixed footer
$container-fluid-limited-width: 1200px;
$comment-padding: 30px; // padding of each comment level
/* END VARIABLES */